.HeroDiv{
    position: relative;
    height: 70vh;
}
.HeroHtag{
    position: absolute;
   bottom:10% ;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.HeroHtag p{
    color: white;
    font-size: 40px;
    font-family: System;
    font-weight: bold;
}
.ButtonBookConsultation{
    margin-top: 30px;
    background-color: #FAA9FB;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.GradientHero{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top, rgb(16, 16, 16),transparent,transparent);
}
@media only screen and (max-width:768px) {
    .GradientHero{
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to top, rgb(16, 16, 16),transparent);
    }
    .HeroDiv{
        position: relative;
        height: 40vh;
    }
    .ButtonBookConsultation{
        margin-top: 20px;
        background-color: #FAA9FB;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-size: small;
    }
    .HeroHtag{
        bottom: 0%;
    }
    .HeroHtag p{
        color: white;
        font-size: 24px;
        font-weight: 900;
       
    }
}